<!--<center>
   <h1 th:text="${question.subject}"></h1>
   <div th:text="${question.content}"></div>
   <br>
   <form th:action="@{|/answer/create/${question.id}|}" method="post">
      <textarea name ="content" id="content" rows="5" cols="40"></textarea>
      <br>
      <br>
      <input type="submit" value="답변등록">
   </form>
</center>
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>답변 페이지</title>
	<link rel="stylesheet" type="text/css" th:href="@{/text.css}"> <!-- CSS 파일 링크 -->
</head>
<body>

	<div class="center-container">
		<h1 th:text="${question.subject}"></h1>
		<div class="question-content" th:text="${question.content}"></div>
		<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
		<div>
			<ul>
				<li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>
			</ul>
		</div>
		<form th:action="@{|/answer/create/${question.id}|}" method="post">
			<textarea name="content" id="content" rows="5" cols="40" placeholder="여기에 답변을 입력하세요."></textarea>
			<br>
			<br>
			<input type="submit" value="답변등록">
		</form>
	</div>
</body>
</html>